body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 88px;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 100px;
  color: #333333;
  text-transform: uppercase;
  font-family: sans-serif;
}
.search-container {
  position: absolute;
  top: 236px;
  left: 100px;
  width: 400px;
  height: 60px;
  background-color: #454e53;
  border-radius: 30px;
  z-index: 10;
}
.search-container {
  display: flex;
  align-items: center;
}
.search {
  flex-grow: 1;
  padding: 0 20px;
}

.search input {
  flex-grow: 1;
  font-size: 25px;
  background: transparent;
  border: none;
  color: white;
}
.search input:focus {
  outline: none;
}
.search i {
  color: white;
  font-size: 25px;
}

.stores-list-container {
  position: absolute;
  top: 320px;
  left: 100px;
  bottom: 20px;
  width: 400px;
  border-radius: 30px;
  background-color: white;
  z-index: 10;
}

#map {
  height: 100vh;
}
