body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.title {
  font-size: 88px;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 100px;
  color: #333333;
  text-transform: uppercase;
  font-family: sans-serif;
}
.search-container {
  position: absolute;
  top: 236px;
  left: 100px;
  width: 400px;
  height: 60px;
  background-color: #454e53;
  border-radius: 30px;
  z-index: 10;
}
.search-container {
  display: flex;
  align-items: center;
}
.search {
  flex-grow: 1;
  padding: 0 20px;
}

.search input {
  flex-grow: 1;
  font-size: 25px;
  background: transparent;
  border: none;
  color: white;
}
.search input:focus {
  outline: none;
}
.search i {
  color: white;
  font-size: 25px;
}

.stores-list-container {
  position: absolute;
  top: 320px;
  left: 100px;
  bottom: 20px;
  width: 400px;
  display: flex;
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
  padding-bottom: 30px;
  z-index: 10;
}
.stores-list {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;

  overflow-y: scroll;
}
.store-container {
  display: flex;
  border-bottom: 1px solid #979797;
}
.store-background {
  flex-grow: 1;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 18px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.store-background:hover {
  background-color: #ccc;
}

.store-info-container {
  flex-grow: 1;
}
.store-number-container {
  display: flex;
  align-items: center;
}
.store-number {
  width: 30px;
  height: 30px;
  background-color: #454e53;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-address {
  font-size: 21px;
  color: #514c4c;
  margin-top: 30px;
}
.store-adress span {
  display: block;
}
.store-phone-number {
  color: #b5adad;
  margin-top: 15px;
  margin-bottom: 15px;
}
#map {
  height: 100vh;
}

.store-info-window {
  min-width: 300px;
  font-size: 18px;
  padding: 8px;
  z-index: 111;
}
.store-info-name {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
.store-info-open-status {
  margin-top: 6px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.57);
}

.store-info-address,
.store-info-phone {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.store-info-address .icon,
.store-info-phone .icon {
  width: 30px;
  height: 30px;
  background-color: #1985a1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin-right: 8px;
}
.store-info-phone a,
.store-info-address {
  text-decoration: none;
  color: #514c4c;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  height: 50px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
